{% extends 'index.html' %}
{% load static %}
{% block body %}
        <!-- ****** Checkout Area Start ****** -->
        <div class="checkout_area section_padding_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-12">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-page-heading">
                                <h5>Forget Password</h5>
                                <p>Enter User Name and MailId</p>
                            </div>
                            {% for i in messages %}
                            <p>{{i}}</p>
                            {% endfor %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label for="uname">User Name</label>
                                        <input type="text" class="form-control" id="uname" name="uname" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <button type="submit" class="btn btn-primary" style="display:block;width:100%">Sent OTP on EMAIL</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****** Checkout Area End ****** -->
{% endblock %}